th {
  background-color: #3399ff;
  color: #ffffff;
}

 td, th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

 tr:hover {
  background-color: #cce6ff;
}

.close {
  position: relative;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
  width: 70px;
}

.meta {
 text-align: center;
 width: 20px;
}

.metaMANA {
 background-color: #D82E3F;
}

.metaMPA {
 background-color: #FFF44F;
}

.metaMA {
 background-color: #28CC2D;
}