<table>
 <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <ng-container *ngFor="let m of metas" >
      <th> {{m}} <button class="close" mat-button (click)="removerMeta(m)">X</button></th>
    </ng-container>   
 </tr>

 <tr *ngFor="let a of alunos">
    <td>{{a.nome}}</td>
    <td>{{a.cpf}}</td>
    <td>{{a.email}}</td>
    <ng-container *ngFor="let m of metas" >
      <td class="meta"><input [(ngModel)]="a.metas[m]" (change)="atualizarAluno(a)"></td>
    </ng-container>      
 </tr>
 </table>

 <div style="margin-top:20px;">
   Adicionar metas:
   <input type="text" #novaMeta name="novaMeta" placeholder="exemplo"> 
   <button (click)="criarMeta(novaMeta.value)">Adicionar</button>
</div>